PORT=3100
NODE_ENV=development
APP_NAME=Food Travel Admin 2
SESSION_COOKIE_NAME=idToken

FIREBASE_SERVICE_ACCOUNT=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=

CLOUDINARY_CLOUD_NAME=daturixq2
CLOUDINARY_API_KEY=474637684398799
CLOUDINARY_API_SECRET=hooVs3679T5rTPylkQB4DIV9rno
CLOUDINARY_FOLDER=food-travel/dishes
