<div class="users-bulk-bar">
  <div class="users-bulk-bar__selected">
    Đã chọn <strong id="users-selected-count">0</strong> người dùng
  </div>

  <div class="users-bulk-bar__actions">
    <button type="button" class="users-ghost-button">Gửi thông báo</button>
    <button type="button" class="users-ghost-button">Khóa tài khoản</button>
    <button type="button" class="users-ghost-button">Mở khóa</button>
    <button type="button" class="users-danger-button" data-users-bulk-delete>Xóa người dùng</button>
  </div>
</div>
