<nav class="user-detail-tabs">
  <a href="#" class="is-active">Tổng quan</a>
  <a href="#">Hành trình ẩm thực</a>
  <a href="#">Check-in</a>
  <a href="#">Huy hiệu</a>
  <a href="#">Bài đăng</a>
  <a href="#">Nhật ký hoạt động</a>
</nav>
